
.images{
    display: block;
    min-height: 100%;
    flex: 6 0 0;
}

.productImage{
    flex: 4 0 0;
    position: relative;
    width: 100%;
    align-items: stretch;
    height: 100vh;
    background-color: rgb(246,246,246);
    overflow: hidden;
}
.productImage img{
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    width: 100%;
}
.thumbnailImg{
    background-color: rgb(246,246,246);
    cursor:pointer;
    margin:20px;
}
.thumbnailImg::after{
    content: '';
    padding-top: 100%;
}
.thumbnail{
flex: 1 0 0;
display: flex;
height: auto;
flex-direction: column;
overflow-y:scroll;
}
.stickyEle{
    display: flex;
    top:0;
    height: 100vh;
    position:sticky;
}
.showingImg{
    transform-origin: center center;
}