
.productCard{
    display: flex;
   border-bottom: 1px solid rgba(0,0,0,0.1);
   margin: 30px;
   }
   .addToCartBtn{
    padding: 10px;
    border-radius: 10px;
    background-color: #0071e3;
    margin: 10px 0px;
    width: 100px;
    text-align: center;
    color: white;
    cursor: pointer;
}
.productDescription div{
    margin: 10px 0;
}
.item{
   flex: 2 0 0;
   display: flex;
   text-align: left;}
.item img{
       width: 300px;
       margin:30px;
   }
.productInfo{
       flex: 3 0 0;
       margin: 20px;
       line-height: 2em;
   }
.productName{
       font-size: 30px;
       font-weight: 600;
   }
.subtotal{
   flex: 1 0 0;
       font-size: 20px;
       margin: 20px;
     }

.rightcol{
   display: flex;
   flex-direction: column;
}