.container{
    position: relative;
    background-color: black;
    overflow-x: hidden ;
    min-height: 720px;
}
.container img{
    opacity: 0;
    height:50%;
    object-fit: cover;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}