.container{
    position: relative;
    background-color: black;
}
.materialsImg{
    display: block;
    width: 100%;
    position: absolute;
    object-fit: cover;
}
.options{
    width: 100%;
    position: absolute;
    top: 10px;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    left: 0;
    text-align: center;
}
.option{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
.colorDot{
    display: block;
    border-radius: 100%;
    z-index: 2;
    cursor: pointer;
    padding: 10px;
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
.property{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    font-size: 18px;
    z-index: 2;
    width: 40%;
    top:50%;
    font-weight: 500;
    color: rgba(255,255,255,0.9);
    justify-content: center;
    text-align: left;
    transition: 0.5 ease-in-out;

}
.property div{
    margin-top: 10px;
}