.phoneBrand{
    position: relative;
    flex-direction: row;
    display: flex;
    justify-content: middle;
    align-items: center;
    height: 100px;
}
.phoneBrandImage{
    display: block;
    float: left;
    height: 100%;
}
.phoneBrandImage span{
    display: block;
    text-align: center;
    margin-top: 10px;
}
.phoneBrand img{
    margin:10px;
    opacity: 0.6;
    height: 40%;
    display: block;
    cursor: pointer;
}
.phoneBrand img:hover{
    opacity: 1;
}
.phoneBrandSlider{
    position: absolute;
    height:100px;
    width: auto;
}
.prevBtn, .nextBtn{
    flex: 1 0 0;
    display: block;
    height: 50px;
}
.content{
    position: relative;
    height: 100%;
    flex: 8 0 0;
    overflow: hidden;
}
.prevBtn img, .nextBtn img{
    opacity: 0.5;
}
.prevBtn img:hover, .nextBtn img:hover {
    opacity: 1;
}