.buttons{
    width: 100%;
    font-size: 14px;
    text-align: right;
}
.button{
    cursor: pointer;
    text-decoration: none;
    padding: 0 5px;
}
.button :hover {
    color: white;
}
.logo{
    width: 30px ;
    height: 30px ;
    cursor: pointer;
}