.coupleCollectionImg {
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    object-fit: cover;
    display: block;
  }
  .coupleCollectionWrapper{
    margin-top: 15px;
    overflow: hidden;
    position: relative;
    display: block;
    background-color : #f5f5f7;
  }
  .coupleCollectioncontentWrapper{
    display: block;
    color: black;
  }
  .coupleCollectionName{
    margin-top: 30px;
    display: block;
    font-weight: bold;
    font-size: 45px;}
.productName{
    margin-top: 30px;
    display: block;
    font-weight: bold;
    font-size: 45px;
  }
  .productProperty{
    display: block;
    font-size: 30px;
  }
  .morebtn{
    top:40px;
    margin-top: 10px ;
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: rgb(190, 0, 0)
  }