.billInfo{
    border-radius: 10px;
    text-align: left;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 10px;
    line-height: 25px;
}
.billInfo > div{
    margin-top: 10px;
}
.billInfoHeader{
    display: flex;
}
.addMoreAddress{
    flex: 0,0,0;
    cursor: pointer;
    color:rgb(0, 75, 145);}
