
.productCard{
    border-top:  1px solid rgba(0,0,0,0.1);
     display: flex;
    }
    .item{
    flex: 3 0 0;
    display: flex;
    text-align: left;
    margin: 20px 0px;
    }
    .item img{
        width: 100px;
        background-color: rgb(241,241,241);
    }
    .productInfo{
        margin: 0px 10px;
        line-height: 1.5em;
    }
    .quantity{
        margin: 20px 0px;
        flex: 1 0 0;
        width: 30%;
    }